<div>
    <br>

    <div class="subscribe">
        <h4>Subscribe for new articles.</h4><br>
        Your name: <input id="username"></input>
        Email: <input id="email"></input>
        <!-- <button type="button" class="btn btn-success" onClick="requestSubscription()" data-toggle="modal" data-target="#subscriptionModal">Subscribe</button> -->
        <button type="button" class="btn btn-success" onClick="requestSubscription()" >Subscribe</button>
    </div>
    <div>
        <script>
            const requestSubscription = async () => {
                const subscriptionData = {
                    "username": document.getElementById("username").value,
                    "email": document.getElementById("email").value
                }

                console.log(subscriptionData)
                // const response = await fetch('https://myoeuf10z7.execute-api.us-east-1.amazonaws.com/dev/', {
                const response = await fetch('https://e1zldg50s4.execute-api.us-east-1.amazonaws.com/v1/', {
                    method: 'POST',
                    body: JSON.stringify(subscriptionData),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
                const myJson = await response.json(); //extract JSON from the http response// do something with myJson
                const responseStatus = response.status;
                if (responseStatus === 200) {
                    $("#subscriptionModal").modal();
                    document.getElementById("email").value = "";
                    document.getElementById("username").value = "";
                }  
            }
        </script>
    </div>
</div>

<div>
    <!-- Modal -->
    <div class="modal fade" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="subscriptionModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You subscription is successful.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>